* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  font-size: 62.5%;
}

.header__title {
  font: 4.8rem/5rem 'PT Serif', serif;
  font-weight: 800;
  color: #1256d1;
  text-align: center;
  border-bottom: 1px solid #bdbdbd;
  margin: 0 0 2rem 0;
}

.header__container-nav {
  width: 100%;
  background: #1256d1;
}

.top-nav__field-search {
  margin: 0 0 2rem 0;
}

.nav-head__top-nav {
  text-align: center;
}

.top-nav__input {
  width: 80%;
  height: 35px;
  border-radius: 35px;
  border: 1px solid #bdbdbd;
  font: 1.6rem/2rem 'PT Serif', serif;
  padding: 0 5vw;
}

.top-nav__search {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1256d1;
  border: none;
  height: 35px;
  width: 35px;
  border-radius: 25px;
  margin: 0 0 0 -37px;
}

.top-nav__search:before {
  content: "\f002";
  font-size: 1.8rem;
  color: #fff;
}

.font-awesome {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.account-activity__dropdown {
  display: inline-block;
  color: #1256d1;
  font: 1.8rem/2rem 'PT Sans', sans-serif;
  font-weight: 800;
}

.fa-caret-down:before {
  color: #616161;
}

.account-activity__dropdown-button {
  background: none;
  border: none;
  padding: 0 1rem 0 1rem;
}

.account-activity__dropdown-button:nth-child(2) {
  padding: 0 0.5rem;
}

.dropdown-content {
  display: none;
}

.dropdown-container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.top-nav__account-activity {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 0 0 2rem 0;
}

.nav-head__bottom-nav {
  margin: 0 0 1rem 0;
}

.dropdown-button__visible {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  top: 100%;
  background: #fff;
  padding: 1rem 0;
  border: 1px solid #616161;
}

.bottom-nav__contact-header {
  color: #1256d1;
  font-size: 3rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.bottom-nav__contact-header:nth-child(3) .contact-header__number {
  color: #1256d1;
}

.contact-header__info {
  font: 1.6rem/2rem 'PT Sans', sans-serif;
  color: #040004;
}

.contact-header__number {
  font: 1.8rem/2rem 'PT Serif', serif;
  font-weight: 800;
  color: #040004;
}

.contact-header__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  width: 200px;
  padding: 0 5vw;
}

.header__shopping-cart {
  background: url("../images/background/bgshoppingbag.jpg");
  color: #1256d1;
  height: 110px;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.header__shopping-cart a {
  color: #1256d1;
  text-decoration: none;
}

.shopping-cart__bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.shopping-cart__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.shopping-cart__top .fa {
  font-size: 4.8rem;
}

.shopping-cart__text-high {
  font: 3.6rem/4rem 'PT Sans', sans-serif;
  font-weight: 800;
}

.shopping-car__text-low {
  font: 1.8rem/2rem 'PT Sans', sans-serif;
  font-weight: 800;
  margin: 0 1.6rem 0 0;
}

.shopping-cart__bottom .fa {
  font-size: 1.8rem;
}

.dropdown__li-home i {
  font-size: 30px;
}

.dropdown a,
.dropdown span {
  white-space: nowrap;
}

.dropdown {
  overflow: hidden;
  background-color: #1256d1;
  position: relative;
}

.dropdown a {
  display: block;
  color: #f2f2f2;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.account-activity-click {
  height: 18px;
}

.dropdown__li .fa-caret-down:before {
  color: #fff;
}

.dropdown li:hover a {
  color: #bdbdbd;
}

.dropdown .icon {
  position: absolute;
  top: 0;
  right: 0;
}

.dropdown__li a {
  font: 2.2rem/2.5rem 'PT Serif', serif;
  font-weight: 800;
  color: #fff;
}

.dropdown__li-home {
  display: inline-block !important;
}

.main-banner {
  background: url("../images/background/bggray.jpg");
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main__banners a {
  text-decoration: none;
}

.main-banner__shape {
  background: url("../images/background/Shape171.png") 1.5px -10px no-repeat;
  width: 95px;
  height: 73px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main-banner__title-inside {
  font: 2.5rem/3rem 'Poppins', sans-serif;
}

.main-banner__title {
  font: italic 2.5rem/3rem 'PT Serif', serif;
  font-weight: 700;
  color: #df2e2e;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main-banner__shape .fa {
  font-size: 3.6rem;
  color: #df2e2e;
  border: 1px solid #9d9d9d;
  padding: 1.18rem;
  border-radius: 35px;
}

.header {
  margin: 0 0 2rem 0;
}

.main__banners a {
  margin: 0 0 2rem 0;
  display: block;
}

.main-shape {
  background: url("../images/background/Shape43copy.png") center no-repeat;
  height: 36px;
  margin: auto;
}

.main-section__title-box__title {
  font: bold 3.6rem/4rem "PT Serif", serif;
  color: #212121;
  margin: 0 0 1rem 0;
}

.main-section__title-box {
  text-align: center;
}

.main-section__title-box__products {
  border: none;
  color: #1256d1;
  font: bold 1.8rem/2rem 'PT Serif', serif;
  background: #e0e0e0;
  border-radius: 30px;
  padding: 1rem 1.5rem;
  margin: 0 0 1rem 0;
}

.main-section__store {
  max-width: 1580px;
  margin: auto;
}

.article-product__container a {
  text-decoration: none;
}

.article-product__title {
  font: 1.8rem/2rem 'Poppins', sans-serif;
  color: #1256d1;
}

.article-product__descript {
  font: 1.8rem/2rem 'PT Sans', sans-serif;
  color: #212121;
}

.article-product__stock {
  font: 1.8rem/2rem 'PT Sans', sans-serif;
  font-weight: 800;
}

.article-product__stock .fa {
  font-size: 1.6rem;
  color: #00833c;
}

.article-product__name-price {
  font: 1.8rem/2rem 'PT Sans', sans-serif;
  color: #212121;
  font-weight: 800;
}

.article-product__price-value {
  font: 3rem/3.2rem 'PT Sans', sans-serif;
  font-weight: 800;
}

.article-product__client-price .article-product__price-value {
  color: #cd0707;
}

.article-product__link-more {
  font: bold 1.8rem/2rem 'PT Sans', sans-serif;
  color: #1256d1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 1rem 0;
  border-bottom: 1px solid #bdbdbd;
  padding: 0 0 1.5rem 0;
}

.main-section__article-product {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  border: 1px solid #bdbdbd;
  margin: 0 0 2rem 0;
  padding: 2rem;
}

.main-section__article-product img {
  margin: 0 0 1rem 0;
}

.article-product__title {
  margin: 0 0 1rem 0;
}

.article-product__descript {
  margin: 0 0 1rem 0;
}

.article-product__stock {
  margin: 0 0 1rem 0;
  border-bottom: 1px solid #bdbdbd;
  padding: 0 0 1rem 0;
}

.article-product__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

.article-product__price-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 1rem 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  border-bottom: 1px solid #bdbdbd;
  padding: 0 0 2rem 0;
}

.article-product__client-price,
.article-product__current-price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.count-block__minus,
.count-block__plus {
  font-size: 60px;
  cursor: pointer;
  color: #bdbdbd;
  font: 2.4rem/3rem 'Montserrat', sans-serif;
  width: 36px;
  height: 36px;
  background: #e0e0e0;
  border-radius: 35px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 1rem;
}

.buy-container__button-buy .fa {
  font-size: 2.4rem;
}

.count-block__count {
  width: 51px;
  height: 35px;
}

.buy-container__count-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 0 1rem 0;
}

.count-block__plus {
  color: #1256d1;
}

.buy-container__button-buy {
  background: #1256d1;
  border: none;
  font: bold 1.8rem/2rem 'PT Serif', serif;
  color: #fff;
  border-radius: 35px;
  height: 35px;
  width: 150px;
  margin: auto;
}

.count-block__count {
  font: 1.6rem/2rem 'PT Sans', sans-serif;
  color: #424242;
}

.main-section__article-container {
  margin: 0 0 2rem 0;
}

.footer {
  background: url("../images/background/bg.jpg") repeat;
}

.footer-top__article-subsection__title {
  font: bold 2.4rem/3rem 'PT Serif', serif;
  color: #e0e0e0;
  margin: 0 0 2rem 0;
}

.footer-top__article-subsection__link {
  font: 1.7rem/2rem 'PT Sans', sans-serif;
  font-weight: 800;
  color: #437de7;
}

.footer-top__article-subsection__link:hover {
  text-decoration: underline;
  color: #437de7;
}

.footer-top__article-subsection .fa {
  color: #e0e0e0;
  font-size: 1.6rem;
  margin: 0 1rem 0 0;
}

.footer-top__article-subsection a {
  text-decoration: none;
  padding: 0 0 2rem 0;
}

.footer-top__article-subsection {
  color: #e0e0e0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer-top__article-subsection:nth-child(1) {
  margin: 0 0 1rem 0;
}

.footer-top__article {
  padding: 0 5vw;
}

.footer-top__article:nth-child(1) {
  padding-top: 3rem;
}

.footer-top__article:nth-child(4) #footer-border {
  border-bottom: 1px solid #424242;
}

.footer-top__article-subsection__container-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.article-subsection__container-social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 2rem 0 0 0;
}

.container-social__social-links .fa {
  font-size: 2.4rem;
  color: #437de7;
}

.footer-bottom__text {
  font: 1.6rem/2rem 'PT Sans', sans-serif;
  color: #e0e0e0;
  margin: 0 0 1rem 0;
}

.footer-bottom__text a {
  color: #437de7;
  text-decoration: none;
}

.footer-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1rem 5vw;
  border-top: 1px solid #424242;
}

@media screen and (max-width: 766px) {
  .dropdown li:not(:first-child) {
    display: none;
  }

  .dropdown li.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 766px) {
  .dropdown.dropdown__responsive {
    position: relative;
  }

  .dropdown.dropdown__responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .dropdown.dropdown__responsive li {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (min-width: 766px) {
  .bottom-nav__contact-header .fa {
    margin: 0 1rem 0 0;
  }

  .nav-head__bottom-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0;
  }

  .dropdown .icon {
    display: none;
  }

  .dropdown {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow: visible;
    max-width: 1580px;
    margin: auto;
  }

  .dropdown li:hover > ul {
    display: block;
    position: absolute;
  }

  .dropdown__li ul {
    background: #1256d1;
  }

  .dropdown ul,
  [dir=rtl] .dropdown > .dropdownLeftToRight > ul {
    right: 0;
  }

  .dropdown-container .fa {
    font-size: 2.4rem;
  }

  .main-banner__title {
    font-size: 3.2rem;
    line-height: 4rem;
  }

  .main-banner__title-inside {
    font-size: 3.2rem;
    line-height: 4rem;
  }

  .main-banner__shape {
    margin: 0 1rem 0 0;
  }

  .main-section__title-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 3rem 1vw;
  }

  .footer-top__article {
    width: 50%;
    padding: 0 1vw;
  }

  .footer-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    max-width: 1580px;
    margin: auto;
  }

  .footer-bottom {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 2rem 1vw;
    max-width: 1580px;
    margin: auto;
  }
}

@media screen and (min-width: 1024px) {
  .nav-head__bottom-nav {
    padding: 1rem 1vw 1rem 1vw;
  }

  .header__container-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 1580px;
    margin: auto;
  }

  .header__shopping-cart {
    margin: 0;
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    height: 141px;
  }

  .nav-head__top-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #bdbdbd;
    padding: 1rem;
  }

  .top-nav__field-search {
    width: 60%;
  }

  .top-nav__input {
    width: 99%;
    padding: 0 1vw;
  }

  .header__title {
    -webkit-box-flex: 8;
    -webkit-flex-grow: 8;
    -ms-flex-positive: 8;
    flex-grow: 8;
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-right: 1px solid #bdbdbd;
    border-left: 1px solid #bdbdbd;
    border-bottom: none;
  }

  .header__nav-head {
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
  }

  .contact-header__container {
    padding: 0;
  }

  .top-nav__account-activity {
    margin: 0;
  }

  .top-nav__field-search {
    margin: 0;
  }

  .bottom-nav__contact-header .fa {
    margin: 0 1rem 0 0;
  }

  .account-activity__dropdown {
    padding: 1rem 0.5rem;
    border-left: 1px solid #bdbdbd;
  }

  .account-activity__dropdown-button:nth-child(2) {
    padding: 0 0.5rem 0 0.4rem;
  }

  .dropdown > li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 20%;
  }

  .dropdown > li:first-child {
    width: 5%;
  }

  .dropdown li:hover > ul {
    width: 100%;
  }

  .dropdown__li {
    border-left: 1px solid #366dd2;
  }

  .dropdown__li:nth-child(6) {
    border-right: 1px solid #366dd2;
  }

  .dropdown__li ul li a {
    text-align: center;
  }

  .dropdown__li ul li a:hover {
    color: #fff !important;
  }

  .dropdown {
    padding: 1rem 0;
  }

  .dropdown a {
    padding: 0;
    text-align: center;
  }

  .dropdown__li li {
    margin: 1rem;
    padding: 1rem;
  }

  .main__banners a {
    width: 49%;
  }

  .main__banners {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1580px;
    margin: auto;
  }

  .main-section__article-product {
    width: 49%;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 2rem;
  }

  .buy-container__button-buy {
    margin: 0;
  }

  .article-product__buy-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .main-section__article-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 1vw;
  }

  .main-section__article-product img {
    margin-right: 1rem;
  }

  .article-product__title {
    margin: 0 0 1.8rem 0;
  }

  .article-product__descript {
    margin: 0 0 1.5rem 0;
  }

  .article-product__stock {
    padding: 0 0 1.5rem 0;
  }

  .article-product__name-price {
    margin: 0 0 1rem 0;
  }

  .article-product__link-more {
    margin: 0 0 1.5rem 0;
  }

  .main-section__article-product {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1440px) {
  .top-nav__input {
    width: 723px;
  }

  .top-nav__field-search {
    width: inherit;
    margin: 0 1.5rem 0 0;
  }

  .nav-head__top-nav {
    -webkit-box-pack: initial;
    -webkit-justify-content: initial;
    -ms-flex-pack: initial;
    justify-content: initial;
  }

  .account-activity__dropdown {
    padding: 1rem;
  }

  .header__shopping-cart {
    height: 125px;
  }

  .main-banner__title {
    display: block;
  }

  .main-section__article-product {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 2rem;
    text-align: left;
  }

  .article-product__link-more {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .article-product__buy-container {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .article-product__price-container {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .article-subsection__container-social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}